

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_AdminPartial")
<div class="main-content">
    <script>
        function paggerSearch(pageindex, totalpage, gap, id_container, search) {
        var container = document.getElementById(id_container);
        container.setAttribute('class', 'nice nav justify-content-center');

        if (pageindex - gap > 1) {
            container.innerHTML += "<a href='@Url.Action("ListSurveyCategory", "AdminHome", new { area = "Admin" })?page=1&search=@ViewBag.search'>First</a>";
        }

        for (var i = pageindex - gap; i < pageindex; i++) {
            if (i > 0) {
                container.innerHTML += "<a href='@Url.Action("ListSurveyCategory", "AdminHome", new { area = "Admin" })?page=" + i + "&search=@ViewBag.search'>" + i + "</a>";
            }
        }

        container.innerHTML += "<span>" + pageindex + "</span>";

        for (var i = pageindex + 1; i <= pageindex + gap; i++) {
            if (i <= totalpage) {
                container.innerHTML += "<a href='@Url.Action("ListSurveyCategory", "AdminHome", new { area = "Admin" })?page=" + i + "&search=@ViewBag.search'>" + i + "</a>";
            }
        }

        if (pageindex + gap < totalpage) {
            container.innerHTML += "<a href='@Url.Action("ListSurveyCategory", "AdminHome", new { area = "Admin" })?page=" + totalpage + "&search=@ViewBag.search'>Last</a>";
        }

    }
    </script>
    @Html.Partial("_LoginPartial")
    <style>
        #bottompagger > a,
        #bottompagger > span {
            margin: 1rem;
            border-bottom: 1px solid black;
            border-radius: 50%;
            padding: 0.25rem
        }

        #bottompagger > span {
            font-weight: bold;
            font-size: 120%;
            border: none
        }
        .text {
            width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
    <main>
        <h2 class="dash-title">List survey category</h2>
        <section class="recent">
            
            <div class="activity-grid">
                <div class="search-box">
                    <form name="form_search" action="@Url.Action("ListSurveyCategory", "AdminHome", new { area = "Admin" })" onsubmit="required()">
                        <input class="search-input" type="text" name="search" placeholder="Search" value="@ViewBag.search" />
                        <input class="btn btn-primary" style="margin:0 0 0 0; border-radius:10%" type="submit" value="Search" />
                    </form>
                </div>
                <div>
                    <a class="btn btn-warning" href="@Url.Action("DetailSurveyCategory","AdminHome",new { area = "Admin"})">Create</a>
                </div>
                <div class="activity-card">

                    <div class="table-responsive">

                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Create Date</th>
                                    <th>Status</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var c in ViewBag.surveys)
                                {
                                    <tr>
                                        <td><span class="text">@c.Name</span></td>
                                        <td><span class="text" style="width:300px; ">@c.Description</span></td>
                                        <td>@c.CreatedAt</td>
                                        @if (c.Status == true)
                                        {
                                            <td style="color:green">Active</td>
                                        }
                                        else
                                        {
                                            <td style="color:red">Inactive</td>
                                        }
                                        <td>
                                            <a href="@Url.Action("DetailSurveyCategory","AdminHome",new { area = "Admin", id=c.ID })">EDIT</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </section>
        <div id="bottompagger"></div>
    </main>
    <script>
        paggerSearch(@ViewBag.page, @ViewBag.totalpage, 2, "bottompagger", "@ViewBag.search");

        function required() {
            var empt = document.forms["form_search"]["search"].value;
            if (empt.trim() == "") {
                console.log('??')
                document.forms["form_search"]["search"].value = "";
            }
        }
    </script>
</div>